body {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: white;
    color: black;
    padding: 25px;
    display: flex;
    justify-content: flex-end;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  @media (max-width: 767px) {
    .custom-table {
      display: none;
    }
  }
  
  .navbar ul li {
    display: inline-block;
    margin-left: 10px;
  }
  
  .navbar ul li:first-child {
    margin-left: 0;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: black;
    padding: 0 50px;
    font-size: 20px;
  }
  
  .nav_left {
    width: 200px;
    background-color: #f8f9fa;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
  
  .nav_left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav_left ul li {
    margin-bottom: 10px;
    padding: 5px 0;
    /* text-align: center; */
  }
  
  .nav_left ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #000;
    padding: 5px;
  }
  
  .content {
    padding: 20px;
    margin-top: 50px;
    margin-left: 200px;
    
  }
  .custom-table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
  }
  
  .custom-table th,
  .custom-table td {
    padding: 15px;

    text-align: left;
    text-align: center;

  }
  
  .custom-table thead {
    background-color: #f9f9f9;
  }
  
  .custom-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  td[colspan="5"] {
    text-align: center; /* Căn giữa nội dung trong ô */
  }
  
  .left {
    padding: 0 0px 0px 40px ;
    margin: auto; /*
    float: left; /* Đẩy span sang bên trái */
  }
  
  .right {
    float: right; /* Đẩy span sang bên phải */
  }
  .content_right,.content_left{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
  .body_content{
    display: flex;
    /* justify-content: center;
    align-items: center; */
  }
  .content_right{
    width: 50%;
    padding: 20px
  
  }
  .custom-table th{
    border-bottom: 1px solid #ccc;
  }
  .content_right {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .content_right input[type="text"],
  .content_right button {
    margin: 10px;
    
  }
  .content_right input[type="text"]{
    width: 60%;
    padding: 10px 0;
    background-color: #e3e3e3;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  .content_right button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #e96207;
    border: none;
    cursor: pointer;
    color: white;
  }
  .content_left{
    width: 50%; 

  }
  .header{
    display: flex;
    justify-content: space-between;
  }
  .round-button {
    display: inline-block;
    border-radius: 50%;
    padding: 10px;
    background-color: blue;
    color: white;
    text-decoration: none;
  }
  .mobile{
    display: none;
  }
  
  .round-button:hover {
    background-color: darkblue;
  }
  
  @media (max-width: 768px) {
     .nav_left{
      display: none;
      height: 1002px;
      z-index: 100;

    }
    .content {
      padding: 0;
      margin-top: 0;
      margin-left: 0;
      
    }
    
    .mobile{
      display: block;
    }
    .chart-container{
      position: relative;
    height: 35vh;
    width: 145vw;
    margin-left: -125px;
    }
    .body_content{
      display: block;
    }
    .content_left{
      width: 100%;
    }
    .content_right{
      width: 87%;
    }
    form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #user1{
      display: none;
    } #user{
      display: none;
    }
    .content_right input[type="text"]{
      width: 100%;
    }
    .custom-table th, .custom-table td {
      display: none
    }
    #tbody td{
      display: block;
    }
  }
  #pagination-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  #pagination-links a {
    display: inline-block;
    padding: 8px 12px;
    margin-right: 6px;
    background-color: #f5f5f5;
    color: #333333;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }
  
  #pagination-links a:hover {
    background-color: #ddd;
  }
  
  #pagination-links a.active {
    background-color: #0915be;
    color: #fff;
  }
  
  

 
  
  
  