body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* Chiếm toàn bộ chiều cao của viewport */
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 400px;
    min-height: 222px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color:#FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  .container h2 {
    text-align: center;
    margin: 0;
  }
  
  #loginForm {
    text-align: center;
  }
  
  #loginForm h2 {
    margin-top: 20px;
  }
  
  .container .form-group {
    margin-top: 15px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="password"] {
    padding: 10px;
    transition: transform 0.3s;
  }
  
  
  .form-group input[type="text"]:hover,
  .form-group input[type="password"]:hover {
    transform: scale(1.1);
  }
  
  a {
    text-decoration: none;
  }
  
  input[type="submit"] {
    background-color: rgb(247, 170, 5);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
  
  }
  
  input[type="submit"]:active {
    background-color: rgb(251, 255, 0);
    color: rgb(233, 227, 227);
  }
  
  #username {
    width: 300px;
    background-color: beige;
    border: none;
  }
  
  #password {
    width: 300px;
    background-color: beige;
    border: none;
  }
  
  .form-group input[type="submit"] {
    margin-left: -45px;
  
  }
  
  .container .linn {
    display: inline-block;
  }
  
  
  